/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;0,900;1,300;1,700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	--font-size: 1rem;
	--line-height: 1.5;
	--font-size-1: 2.25rem;
	--font-size-2: 1.5rem;
	--line-height-1: 1.333;
	--background-color: #EEE;
	--text-color: #222;
	--rating-background: #FFBD01;
	--rating-background: #FFA7D6;
}

@media (prefers-color-scheme: dark) {
	--background-color: #222;
	--text-color: #fff;
}

body.dark {
	--background-color: #222;
	--text-color: #fff;
}

html {
	font: 400 var(--font-size) / var(--line-height) "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 2rem 1rem 10rem 2rem;
	min-width: 300px;
}

h1 {
	font-size: var(--font-size-1);
	font-weight: 600;
	line-height: var(--line-height-1);
	margin: 0 0 1rem;
}

h2 {
	font-size: var(--font-size-2);
	font-weight: 600;
	margin: 1rem 0;
}

a {
	color: var(--text-color);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-header {
	margin-bottom: 4rem;
}

.film-list {
	display: flex;
	flex-wrap: wrap;
}

.film {
	margin-right: 4rem;
	margin-bottom: 2rem;
	opacity: 0;
	transform: translateY(1rem);
	transition: all 0.2s ease-out;
}

.film.loaded {
	opacity: 1;
	transform: translateY(0);
}

.film-image {
	display: inline-block;
	margin-right: 1rem;
	position: relative;
}

.film-image img {
	display: block;
	height: 6rem;
	width: 10.667rem;
}

.film:not(.rating-5) img {
	filter: grayscale(1);
}

.film-info {
	display: inline-block;
	/* font-weight: 600; */
	vertical-align: top;
	max-width: 40em;
}

.film-title {
	font-size: var(--font-size-1);
	line-height: var(--line-height-1);
	margin: 0 0 1.3rem;
	max-width: 20em;
}

.director-list {
	display: inline;
	list-style: none;
}

.director-list::before {
	content: "•";
	margin: 0 0.5em;
}

.director-list li {
	display: inline;
}

.director-list li:not(:last-child)::after {
	content: ", ";
}

/* rating */

.rating {
	background: var(--background-color);
	height: 1.125rem;
	padding: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
}

.rating-5 .rating {
	background-color: var(--rating-background);
}

body.dark .rating-5 .rating {
	color: var(--background-color);
}

.material-icons {
	font-size: 1.125rem !important;
}

.material-icons:not(:last-child) {
	margin-right: 0.125rem;
}

/* review */

.author {
	display: none;
}

.review {
	border-left: 1px solid;
	font-weight: 400;
	margin: 1rem 0;
	padding-left: 1rem;
	max-width: 40rem;
}

/* loader */

.loader {
	margin-top: 2rem;
}

.loader .material-icons:nth-child(2) {
	animation: loading2 1s infinite;
}

.loader .material-icons:nth-child(3) {
	animation: loading3 1s infinite;
}

.loader .material-icons:nth-child(4) {
	animation: loading4 1s infinite;
}

.loader .material-icons:nth-child(5) {
	animation: loading5 1s infinite;
}

@keyframes loading2 {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@keyframes loading3 {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes loading4 {
  0% {
    opacity: 0;
  }
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes loading5 {
  0% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
